@using WebToDoApp.Models.Entities
@{
    ViewBag.Title = "Выполненые задачи";
}
@model List<ToDoItem>

<div>
    <table class="table">
        <tr>
            <td>Задача</td>
            <td>Описание задачи</td>
            <td>удалить</td>
        </tr>
        @foreach (ToDoItem item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><a href="/Home/Delete/@item.Id">Удалить</a></td>
            </tr>
        }
    </table>
</div>