@using WebToDoApp.Models.Entities;
@{
    ViewBag.Title = "Список текущих дел";
}
@model List<ToDoItem>

<div style="margin-top: 50px;" class="row container">
    <table class="table">
        <tr>
            <td>Задача</td>
            <td>Описание задачи</td>
            <td>Редактировать</td>
            <td>Завершить</td>
            <td>удалить</td>
        </tr>
        @foreach (ToDoItem item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><a href="/Home/Edit/@item.Id" class="btn btn-primary">Редактировать</a></td>
                <td><a href="/Home/AddToArchive/@item.Id" class="btn btn-success">Завершить</a></td>
                <td><a href="/Home/Delete/@item.Id"class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </table>
</div>