@{
    ViewBag.Title = "Главная страница";
}

<div style="margin-top: 50px;" class="row container">
    <h1>Список дел</h1>
    <p>Это простой сайт на котором вы можете создавать, редактировать и удалять свой список дел, задач и тд.</p>
    <p><a href="/Home/AddTask" class="btn btn-primary">Начать!</a></p>
</div>