@{
    ViewBag.Title = "Главная страница";
}

<div class="row">
    <h1>Список дел</h1>
    <p>Это простой сайт на котором вы можете создавать, редактировать и удалять свой спико дел, задачи и тд.</p>
    <p><a href="/Home/AddTask" class="btn btn-danger">Начать!</a></p>
</div>